!!!
head
  script(type="text/javascript", src="/js/socket.io.js")
  script(type="text/javascript", src="/js/sails.io.js")
  script(type="text/javascript", src="/js/vendor/jquery.js")
  script(type="text/javascript", src="/js/vendor/lodash.js")
  script(type="text/javascript", src="/js/vendor/backbone.js")
  script(type="text/javascript", src="/js/vendor/marionette.js")
  script(type="text/javascript", src="/js/app.js")
  block head
body
  block content